<%- include('partials/header') %>
<%- include('partials/alerts') %>
      <ul>
        <% todos.forEach(todo => { %>
          <li><strong><%= todo.title %></strong> (<%= todo.description %>)</li>
          <a href="/edit/<%= todo.id %>">Edit</a>
          <a href="/delete/<%= todo.id %>">Delete</a>
        <% }) %>
      </ul>
      <a href="/create">Add new todo</a>
<%- include('partials/footer') %> 